@import "globals";
@import "variables"; 

header {
  top: 0px;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 30px 10px 30px;
  align-items: center;
  background-color: $eggshell;
  h1 {
    padding: 0px;
    margin: 0px;
    font-size: 1.5rem;
    color: $hotpink;
  }
}

#nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  width: 400px;
}

#social-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px;
  width: 220px;
  li {
    height: 35px;
    img {
      filter: invert(74%) sepia(7%) saturate(3063%) hue-rotate(113deg) brightness(87%) contrast(89%);
    }
  }
}