@import "globals";
@import "variables"; 
@import "home-page"; 
@import "menu-page"; 
@import "contact-page"; 
@import "header";
@import "footer"; 

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
